.atas{
	margin-bottom: -9px;
}

.nav{
	background-color: #ffd102;
	text-align: center;
	font-family: book antiqua;
	width: 100%;
	font-size: 20px;
	
}

.navbar{
	background-color: #ffd102;
	width: 100%;
}
.list a:hover{
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white !important;
	text-decoration: none !important;
}

.list a{
	text-align: center;
	color: gray;
	
}
.head h1{
	font-family: book antiqua;
}
.list img{
	float: center;
	width: 100px;
	height: 100px;
}

.isi {
	margin-top: 0px;
	background-image: url("foto/Fotang_Delphi2017.jpg");
<<<<<<< HEAD
	height:100%;
=======
	height:800px;
>>>>>>> 4858217fde46ae2e18d64ecf4485ae54ab62cc4e
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;

}
.isi{
	margin-top:1%;
	width: 100%;
	height: 800px;
	
}
.isi .text{
	background-color: rgba(255, 209, 2, 0.595);
	text-align: center;
	width: 700px;
	margin-top: 10px;
	
	height: 65%;
}
.bot{
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.31);
	
}
.text1 img{
	
	
	text-align: center;
	height: 200px;
	width: 300px;
}

.bot a{
	text-align: center;
	color: white;
	font-size: 20px;
	
}
.bot .text1 {
	font-family: book antiqua !important;
	text-align: center !important;
	color: white !important;
	text-decoration: none !important;	
	font-size: 20px !important;
}

.bot .text1 a:hover{
	background-color: #ffd102 !important;
	color:black !important;
	padding-bottom: 18px;
	text-decoration: none !important;	
}