body{
	margin:0;
	padding:0;
	font-family: serif;
	background-color: #ffd102;
	background-size: cover;
}
.top{
	margin-left:150px;
	margin-top:20px;
}
.top .text{
	margin-top:20px;
	font-size:60px;
}
.image{
	height:100px;
	width:100px;
}
.top .orang{
	height:500px;
	width:600px;
}
.login_box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(100%,-80%);
	color: black;
}
.login_box h1{
	float:left;
	font-size: 40px;
	border-bottom: 6px solid gray;
	margin-bottom: 50px;
	padding: 13px 0;
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 2px solid gray;
}
.textbox .logo{
	width:100%;
	overflow:hidden;
	height:20px;
	width:20px;
}
.textbox i{
	width:26px;
	float:left;
	text-align: center;
}
.textbox input{
	border:none;
	outline:none;
	background:none;
	color: 2px solid black;
	font-size: 17px;
	width: 80%;
	float: right;
	margin: 0 10px;
}
.btn{
	font-size: 20px;
	width:100%;
	background: none;
	border: 3px solid gray;
	padding: 5px;
	border-radius:20px;
}
.btn:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
}