.atas{
	margin-bottom: -9px;
}

.nav{
	background-color: #ffd102;
	text-align: center;
	font-family: book antiqua;
	width: 100%;
	font-size: 20px;
	
}

.navbar{
	background-color: #ffd102;
	width: 100%;
}
.list a:hover{
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white !important;
	text-decoration: none !important;
}

.list a{
	text-align: center;
	color: gray;
	
}
.head h1{
	font-family: book antiqua;
}
.list img{
	float: center;
	width: 100px;
	height: 100px;
}
.isi {
	margin-top: 0px;
	background-image: url("foto/Fotang_Delphi2017.jpg");
	height:100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.isi .container{
	background-color: rgba(255, 209, 2, 0.595);
	text-align: center;
	width: 30%;
	margin-top: 10px;
	
	height: 65%;
}